.carousel_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: blue;
}
.carousel_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.carousel_slide {
  width: 200px;
  height: 100%;
  transition: opacity ease-in-out 0.4s;
}

.carousel_slide img {
object-fit: contain;
}

/* Arrow buttons */

.carousel_btn {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #fff;
  background: none;
  opacity: 0.7;

  border: 1px solid transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel_btn:hover {
  opacity: 1;
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

/* Dot group */

.carousel_dots {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  margin: 5px;
  background: #fff;
  width: 12px;
  height: 12px;
  border: 3px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  margin: 5px;
  background: red;
  width: 12px;
  height: 12px;
  border: 3px solid rgb(196, 2, 2);
  border-radius: 50%;
  cursor: pointer;
}

.dot:hover,
.dot.active:hover {
  transform: scale(1.3);
}
