.review_card {
  position: relative;
  margin-bottom: 20px;
}

.user_info,
.dates {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.user_info i {
  margin-right: 20px;
}

.title {
  font-weight: bold;
  margin: 10px 0;
}

.date_created {
  margin-right: 20px;
}

.content,
input.content.card {
  justify-content: start;
  width: 100%;
}
input.content.card {
  height: 200px;
  word-break: break-word;
}

.button_group {
  position: absolute;
  top: 30px;
  right: 30px;
}

.button_group_edit {
  display: flex;
  flex-direction: row-reverse;
}
