.accordion {
  width: 100%;
  height: auto;
  background: transparent;
}

.accordion_item {
  background: var(--white);
  margin-bottom: 0;
  box-shadow: var(--box_shadow);
  /* border-bottom: 1px solid var(--gray); */

  /* transition: margin 0.5s; */
}

.accordion_item.show {
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: var(--box_shadow);
  /* transition: margin 0.5s; */
}
/* first item and the next sibling of open */
.accordion_item:first-child,
.accordion_item.show + .accordion_item {
  margin-top: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box_shadow);
}

.accordion_item:last-child {
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  color: rgb(88, 88, 88);
}

.accordion_header:hover {
  cursor: pointer;
}

.accordion_header.show {
  box-shadow: var(--box_shadow);
}

.accordion_title {
  flex: 1;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: rgb(88, 88, 88);
}

.accordion_button_group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 100%;
}

.accordion_body {
  width: 100%;
  max-height: 0px;
  padding: 0 30px;
  font-size: 18px;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion_body.show {
  max-height: 10000px;
  padding: 10px 30px;
  transition: all 0.5s;
}
