.checkout_breadcrumbs .step {
  width: 100px;
  position: relative;
  margin: 10px 0;
  padding: 0;
}

.checkout_breadcrumbs .step .label {
  margin-bottom: 16px;
  color: var(--gray);
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
}


.checkout_breadcrumbs .step a {
  pointer-events: none;
}

.checkout_breadcrumbs .step.current a,
.checkout_breadcrumbs .step.complete a {
  pointer-events: all;
}


.checkout_breadcrumbs .step.current .label,
.checkout_breadcrumbs .step.complete .label {
  color: var(--gray_dark);
  font-weight: 700;
}

.checkout_breadcrumbs .step.current:hover .label,
.checkout_breadcrumbs .step.complete:hover .label {
  color: var(--black);
  transform: scale(1.02);
}

/* Inner Dot */
.checkout_breadcrumbs .step .dot {
  position: absolute;
  right: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -7.5px;
  border-radius: 50%;
  background: var(--gray_light);
}
/* Outer Dot */
.checkout_breadcrumbs .step .dot:after {
  content: ' ';
  border-radius: 50px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: var(--gray);
}

.checkout_breadcrumbs .step.current:hover .dot:after,
.checkout_breadcrumbs .step.complete:hover .dot:after {
  background: var(--cheetos);
}

/* Progress bar */
.checkout_breadcrumbs .step .progress {
  position: absolute;
  width: 100%;
  height: 11px;
  margin-top: -6px;
  background: var(--gray_light);
}

.checkout_breadcrumbs .step .progress .progress-bar {
  width: 0px;
  background: var(--yellow_light);
}

.checkout_breadcrumbs .step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.checkout_breadcrumbs .step:last-child > .progress {
  width: 50%;
}

/* Completed */
.checkout_breadcrumbs .step.complete .dot {
  background: var(--yellow_light);
}

.checkout_breadcrumbs .step.complete .dot:after {
  background: var(--mimosa);
}

.checkout_breadcrumbs .step.complete .progress > .progress-bar {
  width: 100%;
  height: 11px;
}

/* Current Dot */
.checkout_breadcrumbs .step.current .dot {
  background: var(--yellow_light);
}

.checkout_breadcrumbs .step.current .dot:after {
  background: var(--mimosa);
}

/* Current Line */
.checkout_breadcrumbs .step.current .progress > .progress-bar {
  width: 50%;
  height: 11px;
}

.checkout_breadcrumbs .step.current:first-child > .progress > .progress-bar {
  width: 0%;
}

.checkout_breadcrumbs .step.current:last-child > .progress > .progress-bar {
  width: 100%;
}
