.categories_container {
  position: absolute;
  top: 7px;
}

.button_nav {
  height: 68px;
  width: 115px;
  background: white;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 25px 25px 0 0;
}

/* Left Container */
.category_lists {
  display: flex;
  flex-direction: row;
}

.category_lists_left {
  padding: 10px 0;
  width: 240px;
  height: 447px;
  background: #fff;
  border-radius: 0 0 0 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.category_lists_left > ul > li {
  display: flex;
  flex-direction: row;
  margin: px 0px;
  padding-left: 15px;
  text-align: center;
}

.category_lists_left > ul > li i {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  color: grey;
}

.category_lists_left span {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.category_lists_left > ul > li:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
/* Right Container */
.category_lists_right {
  width: 960px;
  height: 447px;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border-radius: 0 0 5px 0;
}

.category_lists_right > div {
  width: auto;
  height: 447px;
  background: #fff;
  margin: 0 30px;
  font-size: 15px;
}

.category_lists_right li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}

.category_lists_right li {
  padding: 0 10px;
  list-style-type: none;
}

.category_lists_right h4 {
  font-weight: bold;
}
