.checkout_steps a {
  margin: 20px; 
}

.checkout_steps a:active,a[active] {
  font-weight: bold; 
  color: black;
}

.checkout_steps a:disabled,a[disabled] {
  color: rgb(145, 144, 144);
  font-weight:300;
  cursor:default;
}