footer {
  background: var(--gray);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-shadow: var(--box_shadow_angle_active);
}
footer .button_group {
  display: flex;
  margin-right: 20px;
}

footer span {
  color: var(--gray_dark);
  margin-left: 20px;
}

footer button {
  background-color: var(--gray);
  height: 25px;
  width: 25px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray_dark);
  box-shadow: var(--box_shadow_angle);
}

footer button:hover {
  cursor: pointer;
}

footer button:active {
  box-shadow: var(--box_shadow_angle_active)
}
