.form_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_component .wrapper {
  width: 100%;
  height: 40px;
  position: relative;
}

.form_component .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
/* Input */
.form_component input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 17px;
}

.form_component input:focus {
  outline: none;
}

/* Label */
.form_component label {
  position: absolute;
  bottom: 7px;
  left: 0;
  pointer-events: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--gray_dark);
  font-size: 17px;
}

.form_component .wrapper:focus-within label,
.form_component .wrapper.filled label {
  transform: translateY(-25px);
  font-size: 14px;
}

/* Underline */
.form_component .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}
.form_component .underline::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gray_light);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.form_component .underline::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gray_light);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.form_component .wrapper:focus-within .underline::before,
.form_component .wrapper.filled .underline::before {
  transform: scaleX(1);
}

.form_component .wrapper.error .underline::before,
.form_component .wrapper.filled.error .underline,
.form_component .wrapper.error:focus-within .underline::before {
  background: var(--red);
}

/* Error Message */
.form_component .wrapper .error_message {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  color: var(--red);
}

/* Button group */
.form_component .button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form_component .button_group button {
  width: 200px;
}
