header {
  height: 76px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header_searchDropdown {
  height: 40px;
  width: auto;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px 0 0 5px;
}

.header_searchDropdownMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
  padding: 3px;
  height: 400px;
}

.header_searchDropdownMenu > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.header_searchInput {
  font-size: 18px;
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchButton {
  padding: 7px 10px 3px 10px;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  height: 30px;
  background-color: white;
  color: black;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  align-items: center;
  color: white;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 3vh;
}

.header_optionUserMenu {
  margin-right: 40px;
  display: flex;
  font-size: larger;
  height: fit-content;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
  justify-content: left;
}
.badge {
  font-size: 14px;
  font-weight: 700;
  background: black;
  color: #fff;
  border-radius: 7px;
  padding: 0 5px;
  margin-top: -30px;
  vertical-align: top;
  margin-left: 9.5px;
  margin-right: 2vh;

}

#header_optionCart {
  font-size: 30px;
  margin-right: 2vh;
}
