header {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  /* position: sticky; */
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.categories_mega_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  align-items: center;
  color: white;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 3vh;
}

.header_optionUserMenu {
  margin-right: 40px;
  display: flex;
  font-size: larger;
  height: fit-content;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
  justify-content: left;
}
.badge {
  font-size: 14px;
  font-weight: 700;
  background: black;
  color: #fff;
  border-radius: 7px;
  padding: 0 5px;
  margin-top: -30px;
  vertical-align: top;
  margin-left: 9.5px;
  margin-right: 2vh;
}

#header_optionCart {
  font-size: 30px;
  margin-right: 2vh;
}
