/* Nav Button */
.button_nav {
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 25px;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

.button_nav:hover {
  cursor: pointer;
}
.button_nav:active {
  outline: none;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 30px;
}

/* Dropdown Container */
.menu_container {
  position: absolute;
  top: 0px;
}

/* Main Container */
.menu_main,
.menu_secondary,
.menu_sub {
  position: absolute;
  top: 60px;
  left: -20px;
  padding: 10px 20px;
  width: 400px;
  height: fit-content;
  background: rgba(33, 33, 33, 0.98);
  border-radius: 0 0 10px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.menu_main h2,
.menu_header {
  line-height: 25px;
  font-size: 23px;
  text-transform: uppercase;
  color: #b0b3b8;
  margin: 0;
  display: flex;
  justify-content: space-around;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.menu_header,
.menu_main > ul > li,
.menu_sub > ul > li,
.menu_secondary > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 15px 0;
  border-radius: 5px;
  text-align: center;
  color: #b0b3b8;
}

.menu_main > ul,
.menu_sub > ul,
.menu_secondary > ul {
  border-top: 2px solid #3d3e3f;
}

/* Options */
.menu_main span,
.menu_secondary span,
.menu_sub span {
  text-align: left;
  padding-left: 10px;
  line-height: 20px;
  font-size: 19px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu_header i,
.menu_main > ul > li i,
.menu_secondary > ul > li i,
.menu_sub > ul > li i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
}

.menu_main > ul > li i.main,
.menu_secondary > ul > li > i.main,
.menu_sub > ul > li > i {
  background: #878788;
  border-radius: 50%;
  color: #fff;
}

.menu_main > ul > li i.chevron,
.menu_secondary > ul > li i.chevron {
  position: absolute;
  right: 25px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 25px;
}

.menu_secondary h2:hover,
.menu_header:hover,
.menu_main > ul > li:hover,
.menu_secondary > ul > li:hover,
.menu_sub > ul > li:hover {
  cursor: pointer;
  background: #3a3b3c;
}

@media (max-width: 768px) {
  .menu_container {
    width: 100vw;
  }
  .menu_main,
  .menu_secondary,
  .menu_sub {
    width: 100vw;
  }
  .menu_main span,
  .menu_secondary span,
  .menu_sub span {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .menu_main h2{
    padding-left: 40px;
  }
}
