.orders {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 500px;
  grid-template-areas: 'sidebar order';
}

.orders .sidebar {
  grid-area: sidebar;
  background: var(--white);
  border-right: 2px solid var(--gray);
  padding: 10px;
}

.orders .sidebar h2 {
  padding-left: 10px;
}

/* Sidebar Tab Buttons */
.orders .sidebar .tab_button {
  background-color: var(--white);
  color: var(--gray_dark);
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 100%;
  margin: 2px 0;
}

.orders .sidebar .tab_button:hover {
  background-color: var(--gray_light);
  border-radius: 5px;
}

.orders .sidebar .tab_button.active {
  background-color: var(--blue_light);
  color: var(--blue_middle);
  /* font-weight: bold; */
  border-radius: 5px;
}

/* Order  */
.orders .orders_list .order {
  grid-area: order;
  display: none;
}

.orders .orders_list .order.active {
  display: block;
}
