.my_orders .order_title_left{
  display: grid;
  grid-template-columns: 120px 120px 1fr;
}

.my_orders .order_title_left > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_orders .order_title_left > div span{
  text-align: left;
  width: 100%;
  font-size: 12px;
}

.my_orders .order_title_right > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_orders.order_title_right > div span,
.my_orders .order_title_right span{
  text-align: left;
  width: 100%;
  font-size: 12px;
}

.my_orders .order_item{
  display: grid;
  grid-template-columns: 75px 1fr 100px 170px;
  grid-template-rows: 75px;
  grid-template-areas: 'image' 'title' 'total' 'btn';
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.my_orders .order_item .title a{
  grid-area: title;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

