.my_orders .accordion .accordion_item:first-child{
  border-radius: 0;
}

.my_orders .order_title {
  display: grid;
  grid-template-columns: 120px 120px 1fr;
}

.my_orders .order_title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_orders .order_title > div span {
  text-align: left;
  width: 100%;
  font-size: 12px;
}

.my_orders .order_title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_orders .order_title > div > span,
.my_orders .button_group span {
  text-align: left;
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.my_orders .order_item {
  display: grid;
  grid-template-columns: 75px 1fr 100px 170px;
  grid-template-rows: 75px;
  grid-template-areas: 'image title total btn';
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.my_orders .order_item .title a {
  grid-area: title;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.my_orders .order_item .total {
  grid-area: total;
  display: flex;
  flex-direction: row;
}

.my_orders .order_item .total .price_container {
  width: fit-content;
  margin: 3px 5px 0 0;
}
