.gallery_container {
  max-height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
}

.selected_image {
  position: relative;
  object-fit: contain;
}

.lens {
  position: absolute;
}
