.product_screen_action_box {
  position: relative;
  grid-area: action-box;
  height: fit-content;
  padding: 20px;
  position: sticky;
  top: 10px;
}

.product_screen_action_box ul {
  width: 100%;
  gap: 20px;
  font-size: 15px;
}

.product_screen_action_box ul li {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_screen_action_box ul li.add_to_cart_btn {
  padding: 20px;
}

.product_screen_action_box ul li i {
  color: var(--gray_dark);
  margin-right: 10px;
}

.product_screen_action_box ul li table {
  width: 100%;
}
.product_screen_action_box ul li table td {
  text-align: left;
  width: 50%;
}

.product_screen_action_box ul li table td:first-child {
  text-align: right;
  padding-right: 10px;
  font-weight: 600;
}

.product_screen_action_box .wish_list_btn {
  position: absolute;
  top: 5px;
  right: 10px;
}

@media (max-width: 1000px) {
  .product_screen_action_box ul {
    height: 250px;
    top: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 25px);
  }
  .product_screen_action_box ul li:nth-child(n + 7) {
    display: none;
  }
}
