/* Product Details */
.product_details {
  grid-area: product_details;
  display: grid;
  grid-template-columns: 90px 1fr 1fr 250px;
  grid-template-rows: minmax(80vh, 1fr);
  grid-template-areas: 'image_sidebar image info action-box';
  grid-gap: 20px;
  background: white;
  padding: 30px 0;
}

.product_details.hidden_action_box {
  grid-template-columns: 90px 1fr 1fr;
  grid-template-areas: 'image_sidebar image info';
}

.product_details .product_image_sidebar {
  grid-area: image_sidebar;
}

.product_details .product_image_sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  position: sticky;
  top: 0;
  gap: 10px;
}

.product_details .product_details_image {
  grid-area: image;
}

.product_details .product_details_info {
  grid-area: info;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .product_details {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 60px 1fr 300px;
    grid-template-areas:
      'image_sidebar info'
      'image info'
      'action-box action-box';
  }

  .product_details .product_image_sidebar ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 768px) {
  .product_details {
    grid-template-columns: 100vw;
    grid-template-rows: 60px 0.3fr 1fr 300px;
    grid-template-areas:
      'image_sidebar'
      'image'
      'info'
      'action-box';
  }

  .product_details .product_image_sidebar ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
