.questions_and_answers .header_controls {
  margin-bottom: 20px;
}

.questions_and_answers .question,
.questions_and_answers .answers {
  display: flex;
  flex-direction: column;
}

.questions_and_answers > div > span {
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}

.questions_and_answers .question,
.questions_and_answers .answer {
  position: relative;
  /* border-bottom: 1px solid var(--gray); */
  /* margin-bottom: 5px; */
  padding: 0 70px 5px 0;
}

.questions_and_answers .answer:last-of-type {
  border-bottom: none;
  padding: 0 70px 0 0;
  margin-bottom: 0;
}

.questions_and_answers .textarea,
.questions_and_answers .textarea input,
.questions_and_answers .answer_list {
  flex: 1;
}

.questions_and_answers .question .textarea,
.questions_and_answers .question .textarea input {
  font-weight: bold;
}

.questions_and_answers .textarea input {
  outline: none;
  border: none;
}

.questions_and_answers .question .edit_buttons,
.questions_and_answers .answer .edit_buttons {
  position: absolute;
  top: 0px;
  right: 0px;
}

.questions_and_answers .question .button_group_edit,
.questions_and_answers .answer .button_group_edit {
  display: flex;
  flex-direction: row-reverse;
}

.questions_and_answers .created_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  gap: 4px;
  color: var(--gray_dark);
}
.questions_and_answers .created_info .avatar {
  margin-right: 10px;
}

.questions_and_answers .footer {
  display: flex;
  gap: 20px;
}

/* Card */
.question_and_answer_card {
  position: relative;
  margin-bottom: 10px;
  padding: 5px 20px 5px 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas: 'votes question_and_answer';
  gap: 20px;
}

.question_and_answer_card .votes_container {
  grid-area: votes;
  border-right: 1px solid var(--gray);
  display: flex;
}

.question_and_answer_card .question_and_answer {
  grid-area: question_and_answer;
}

.questions_and_answers .answers_footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.questions_and_answers .answers_footer .input_with_avatar {
  padding: 0;
  margin-bottom: 10px;
}
