.reviews {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ' sidebar review_list';
  gap: 80px;
  margin-bottom: 20px;
}

.reviews_sidebar {
  grid-area: sidebar;
}

.reviews .reviews-list .footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.reviews .rating_widget {
  position: sticky;
  top: 0;
}

.reviews-list {
  grid-area: review_list;
}

.reviews-list ul li:first-child {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
