.reviews {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar reviews_list';
  gap: 20px;
  margin-bottom: 20px;
}

.reviews_sidebar {
  grid-area: sidebar;
}

.reviews .reviews_sidebar .rating_widget {
  background-color: var(--white);
  color: var(--black);
}

.reviews .create_form {
  height: fit-content;
  padding: 0;
}

.reviews .reviews_list > .footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.reviews .reviews_list > .footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.reviews .reviews_sidebar .sidebar_wrapper {
  position: sticky;
  top: 10px;
}

.reviews .reviews_sidebar .sidebar_wrapper button {
  margin: 20px auto;
}

.reviews_list {
  grid-area: reviews_list;
}

.reviews_list ul li:first-child {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .reviews {
    grid-template-columns: 1fr;
    grid-template-rows: 230px 1fr;
    grid-template-areas: 'sidebar' 'reviews_list';
  }

  .reviews .reviews_sidebar .sidebar_wrapper {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .reviews {
    grid-template-rows: 280px 1fr;
    gap: 0;
  }

  .reviews .reviews_sidebar .sidebar_wrapper {
    flex-direction: column;
  }
}
