.search_container {
  width: 500px;
  z-index: 1000;
}

.search_inputs {
  display: flex;
}

.search_bar {
  position: relative;
  width: 100%;
  border-radius: 18px;
  background: var(--gray_light);
}

/* Categories dropdown button
.search_inputs button {
  height: 36px;
  width: fit-content;
  background: var(--gray_light);
  color:var(--black);
  line-height: 18px;
  font-size: 18px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  z-index: 1000;
}

.search_inputs button:hover {
  cursor: pointer;
} */

/* Search input */
.search_term_input {
  height: 36px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  border-radius: 25px;
  background-color: var(--grey);
}

/* Search and reset buttons */
.search_button_group {
  position: absolute;
  top: 0;
  right: 0;
}

.search_button,
.reset_search_term_button {
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  margin: 5px;
  line-height: 26px;
  text-align: center;
  font-size: 20px;
  color:var(--gray_dark);
  background-color: transparent
}

.search_button {
  background: transparent;
  border-radius: 26px;
}

.reset_search_term_button i {
  color: rgb(182, 182, 182);
}

/* Dropdown menu  */
.search_bar ul {
  max-height: 310px;
  overflow-y: auto;
}

.search_bar.active {
  font-size: 19px;
  padding-bottom: 10px;
  pointer-events: all;
  background-color: var(--gray_light);
}

.search_bar.active h2 {
  font-size: 20px;
  padding: 15px 0px 5px 30px;
  margin: 0;
}

.search_bar.active > ul i {
  text-align: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background:transparent;
  font-size: 13px;
  color: var(--gray_dark);
  padding-top: 6px;
  box-shadow: var(--box_shadow_angle);
  margin-right: 15px;
}

.search_bar li {
  margin: 0 10px;
  padding: 8px 32px;
  cursor: pointer;
  border-radius: 3px;
}

.search_bar li > div {
  width: 100%;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search_bar:hover,
.search_inputs button:hover,
.search_inputs button:focus,
.search_bar li > div:hover,
.search_button:hover {
  box-shadow: var(--box_shadow_angle);
}

/* .search_button:active,
.search_inputs button:active,
.search_term_input:focus,
.search_bar li > div:active {
  box-shadow: var(--box_shadow_angle_active);
} */