.timeline_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}

.timeline_container.horizontal {
  flex-direction: row;
  width: fit-content;
  height: 500px;
}

/* .timeline_container h2 {
  padding-left: 20px;
  color: black;
} */

/* The line */
.timeline_container::after {
  content: '';
  position: absolute;
  left: calc(50% - 5px);
  background-color: var(--gray_light);
  width: 10px;
  height: calc(100% - 10px);
}

.timeline_container.horizontal::after {
  left: 0;
  top: calc(100% - 60px);
  background-color: var(--gray);
  width: 100%;
  height: 10px;
}

.timeline_item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline_container.horizontal .timeline_item {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  padding: 0 5px;
  width: 300px;
}

.timeline_item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline_item_content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 400px;
  max-width: 100%;
  text-align: right;
  padding: 10px;
}

.timeline_container.horizontal .timeline_item_content {
  width: 300px;
  height: 400px;
  text-align: top;
}

.timeline_item_content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}
.timeline_item:nth-child(odd) .timeline_item_content {
  text-align: left;
  align-items: flex-start;
}

.timeline_item:nth-child(odd) .timeline_item_content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline_container.horizontal .timeline_item_content::after,
.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content::after {
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 50%;
  top: calc(100% - 7.5px);
  transform: rotate(135deg);
  width: 15px;
  height: 15px;
}

.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content::after {
  left: calc(50% - 7.5px);
}

.timeline_item_content .remove_btn,
.timeline_item_content .point {
  background-color: var(--orange);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 5px);
  right: -35px;
  width: 10px;
  height: 10px;
  z-index: 100;
}

.timeline_item_content .remove_btn {
  background-color: var(--gray);
  color: var(--gray_dark);
  border: 1px solid var(--gray_dark);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.timeline_item_content .date {
  position: absolute;
  color: var(--gray_dark);
  font-size: 15px;
  top: calc(50% - 10px);
  right: -205px;
  width: 160px;
  height: 20px;
  cursor: pointer;
  text-align: left;
}

.timeline_item:nth-child(odd) .timeline_item_content .point,
.timeline_item:nth-child(odd) .timeline_item_content .remove_btn,
.timeline_item:nth-child(odd) .timeline_item_content .date {
  right: auto;
}

.timeline_item:nth-child(odd) .timeline_item_content .point {
  left: -35px;
}
.timeline_item:nth-child(odd) .timeline_item_content .remove_btn {
  left: -40px;
}
.timeline_item:nth-child(odd) .timeline_item_content .date {
  left: -205px;
  text-align: right;
}

.timeline_container.horizontal .timeline_item_content .point {
  top: calc(100% + 20px);
  right: calc(50% + 2.5px);
}

.timeline_container.horizontal .timeline_item_content .remove_btn {
  top: calc(100% + 17.5px);
  right: calc(50% - 2.5px);
}

.timeline_container.horizontal .timeline_item_content .date {
  top: calc(100% + 35px);
  right: calc(50% - 80px + 7.5px);
  text-align: center;
}

.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content .point,
.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content .remove_btn,
.timeline_container.horizontal
  .timeline_container.horizontal
  .timeline_item:nth-child(odd)
  .timeline_item_content
  .date {
  right: auto;
}

.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content .point {
  left: calc(50% - 5px);
}
.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content .remove_btn {
  left: calc(50% - 10px);
}
.timeline_container.horizontal .timeline_item:nth-child(odd) .timeline_item_content .date {
  left: calc(50% - 80px);
  text-align: center;
}

@media (max-width: 900px) {
  .timeline_container::after {
    left: calc(120px - 5px);
  }

  .timeline_container {
    padding-left: 120px;
  }

  .timeline_item {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
    width: 100vw;
  }

  .timeline_item_content {
    text-align: left;
    align-items: flex-start;
  }

  .timeline_item_content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .timeline_item_content .point {
    left: -35px;
  }

  .timeline_item_content .remove_btn {
    left: -40px;
  }

  .timeline_item_content .date {
    left: -205px;
    text-align: right;
  }
}
