.user_list_container .user_title {
  display: grid;
  grid-template-columns: 50px 250px 1fr;
  gap: 15px;
}

.user_list_container .user_title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_list_container .user_title > div span {
  text-align: left;
  width: 100%;
  font-size: 17px;
}

.user_list_container .user_title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_list_container .button_group {
  width: fit-content;
  display: flex;
}

.user_list_container .user_title > div > span{
  text-align: left;
  width: 100%;
  line-height: 16px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.user_list_container .order_item {
  display: grid;
  grid-template-columns: 75px 1fr 100px 170px;
  grid-template-rows: 75px;
  grid-template-areas: 'image' 'title' 'total' 'btn';
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.user_list_container .order_item .title a {
  grid-area: title;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}


/* Form  */
.user_list .profile_form .form {
  grid-area: form;
  display: none;
}

.user_list .profile_form .form.active {
  display: block;
}

.user_list .profile_form {
  padding: 20px 40px;
}

/* Footer */
.user_list_container .footer .pagination{
  margin: 20px 0;
}