.user_list_admin .user_title_header {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 65px 330px;
  padding: 10px 20px;
  font-weight: 700;
  color: var(--black);
  gap: 10px;
  position: sticky;
  top: 0px;
  box-shadow: var(--box_shadow);
  background: var(--white);
  z-index: 10;
}

.user_list_admin .accordion .accordion_header {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 330px;
  height: 50px;
  grid-gap: 10px;
}

.user_list_admin .header_controls {
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box_shadow);
}

.user_list_admin .accordion .accordion_item:first-child {
  border-radius: 0;
}

.user_list_admin .accordion .accordion_header .user_title {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 65px;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.user_list_admin .accordion .accordion_header .user_title .email {
  font-size: 15px;
}

.user_list_admin .accordion .accordion_header .user_title .user_avatar > span,
.user_list_admin .accordion .accordion_header .user_title .email {
  height: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.user_list_admin .accordion .accordion_header .user_title .user_avatar > span {
  display: none;
}

.user_list_admin .accordion .accordion_header .accordion_title {
  padding: auto 0;
}

.user_list_admin .accordion .accordion_header .button_group {
  display: flex;
  gap: 15px;
}

.user_list_admin .accordion .accordion_header .button_container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user_list_admin .accordion .accordion_header .button_container i {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.user_list_admin .accordion .accordion_button_group {
  max-width: 1000px;
}

@media (max-width: 1024px) {
  .user_list_admin .user_title_header {
    grid-template-columns: 20px 1fr 1fr 25px 80px;
    padding: 10px 20px;
  }
  .user_list_admin .accordion .accordion_header {
    padding: 0 20px;
    grid-template-columns: 1fr 80px;
  }
  .user_list_admin .accordion .accordion_header .user_title {
    grid-template-columns: 20px 1fr 1fr 25px;
    padding: 0;
  }
  .user_list_admin .accordion .accordion_header .user_title .user_avatar .avatar {
    display: none;
  }
  .user_list_admin .accordion .accordion_header .user_title .user_avatar > span {
    display: block;
  }
  .user_list_admin .accordion .accordion_header .button_group {
    gap: 5px;
  }
  .user_list_admin .accordion .accordion_header .button_container {
    width: 26px;
    min-width: 26px;
    padding: 5px;
  }

  .user_list_admin .accordion .accordion_header .button_container span {
    display: none;
  }
}

@media (max-width: 768px) {
  .user_list_admin .user_title_header {
    grid-template-columns: 20px 1fr 25px 80px;
    padding: 10px;
  }
  .user_list_admin .accordion .accordion_header {
    padding: 10px;
    grid-template-columns: 1fr 80px;
  }
  .user_list_admin .accordion .accordion_header .user_title {
    grid-template-columns: 20px 1fr 25px;
    padding: 10;
  }
  .user_list_admin .user_title_header div:nth-child(3),
  .user_list_admin .accordion .accordion_header .user_title span:nth-child(3) {
    display: none;
  }
}

@media (max-width: 480px) {
  .user_list_admin .accordion .accordion_body {
    padding-left: 0;
    padding-right: 0;
  }
}
