.wish_list_item {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px 50px 20px 20px 20px;
  gap: 10px;
  grid-template-areas: 'image' 'title' 'price' 'rating' 'add_to_cart_btn';
  position: relative;
}

.wish_list_item .wish_image {
  padding: 15px;
}

.wish_list_item .wish_title {
  grid-area: title;
  height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.wish_list_item .wish_price {
  grid-area: price;
  text-align: center;
  font-weight: bold;
  color: var(--red_dark);
}

.wish_list_item .wish_rating {
  grid-area: rating;
  text-align: center;
}

.wish_list_item .remove_btn {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
}

.wish_list_item .remove_btn i {
  color: var(--gray_dark);
}

.wish_list_item .add_to_cart_btn {
  grid-area: add_to_cart_btn;
  margin: 10px auto 5px auto;
}
