.tile_deal {
  display: grid;
  grid-template-rows: 2fr 280px 1fr;
  justify-content: center;
  align-items: center;
}

.tile_deal .content {
  margin: 10px auto;
  width: 280px;
  height: 280px;
  display: grid;
  grid-template-rows: 80% 10% 10%;
}

.tile_deal .content > img {
  object-fit: contain;
}

.tile_deal .content > div {
  width: 100%;
  margin: 0 auto;
}

.tile_deal .title,
.tile_deal span {
  text-align: center;
}

.tile_deal h4 {
  text-align: left;
}
