.tile_recommended {
  display: grid;
  grid-template-rows: 2fr 280px 1fr;
  justify-content: center;
  align-items: center;
}

.tile_recommended .content {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  background: rgb(243, 243, 243);
}

.tile_recommended .content> img {
  padding: 20px;
  height: 280px;
  object-fit: contain;
}

.tile_recommended .title{
  text-align: center;
}

.tile_recommended > h4{
  text-align: left;
}
