.profile {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 550px;
  grid-template-areas: 'sidebar form';
}

.profile .sidebar {
  grid-area: sidebar;
  background: var(--white);
  border-right: 2px solid var(--gray);
  padding: 10px;
}

.profile .sidebar h2 {
  padding-left: 10px;
}

/* Sidebar Tab Buttons */
.profile .sidebar .tab_button {
  background-color: var(--white);
  color: var(--gray_dark);
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 100%;
  margin: 2px 0;
}

.profile .sidebar .tab_button:hover {
  background-color: var(--gray_light);
  border-radius: 5px;
}

.profile .sidebar .tab_button.active {
  background-color: var(--blue_light);
  color: var(--blue_middle);
  /* font-weight: bold; */
  border-radius: 5px;
}

/* Form  */
.profile .profile_form .form {
  grid-area: form;
  display: none;
}

.profile .profile_form .form.active {
  display: block;
}

.profile .profile_form {
  padding: 20px 40px;
}

.profile .profile_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile .profile_form form .wrapper {
  width: 100%;
  height: 40px;
  position: relative;
}

.profile .profile_form form .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
/* Input */
.profile .profile_form .form input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 17px;
}

.profile .profile_form .form input:focus {
  outline: none;
}

/* Label */
.profile .profile_form form label {
  position: absolute;
  bottom: 7px;
  left: 0;
  pointer-events: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--gray_dark);
  font-size: 17px;
}

.profile .profile_form .wrapper:focus-within label,
.profile .profile_form .wrapper.filled label {
  transform: translateY(-25px);
  font-size: 14px;
}

/* Underline */
.profile .profile_form form .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}
.profile .profile_form form .underline::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gray_dark);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.profile .profile_form form .underline::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gray_dark);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.profile .profile_form .wrapper:focus-within .underline::before,
.profile .profile_form .wrapper.filled .underline::before {
  transform: scaleX(1);
}

.profile .profile_form .wrapper.error .underline::before,
.profile .profile_form .wrapper.filled.error .underline,
.profile .profile_form .wrapper.error:focus-within .underline::before {
  background: var(--red);
}

/* Error Message */
.profile .profile_form form .wrapper .error_message {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  color: var(--red);
}

/* Button group */
.profile .profile_form form .button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile .profile_form form .button_group button{
  width: 200px;
}
