.account_screen {
  background-color: var(--gray_background);
  padding: 0 20px;
}

.account_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tab Buttons  Header*/
.account_container > .content {
  margin: 5px 0;
  color: var(--gray_dark);
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

.account_container > .content.orders_container {
  padding: 0px;
}

.account_container > .content {
  display: none;
}

.account_container > .content.active {
  display: block;
}

@media (max-width: 768px) {
  .account_screen {
    padding: 0;
  }
}
