.admin_screen {
  background-color: var(--gray_background);
}

.admin_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tab Buttons  Header*/
.admin_container .content {
  margin: 5px 0;
  color: var(--gray_dark);
  outline: none;
  border-radius: 5px;
}

.admin_container .content {
  display: none;
}

.admin_container .content.active {
  display: block;
}
