.admin_screen {
  background-color: rgb(234, 237, 237);
}

.admin_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tab Buttons  Header*/
.admin_container .content,
.admin_container .header {
  margin: 5px 0;
  color: var(--gray_dark);
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

.admin_container .header {
  padding-bottom: 0;
}

.admin_container .tab {
  background-color: var(--white);
  color: var(--gray_dark);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

.admin_container .tab:hover {
  background-color: rgb(248, 231, 231);
  border-radius: 5px;
}

.admin_container .tab.active:hover {
  border-radius: 5px 5px 0 0;
}

.admin_container .tab.active {
  color: var(--red);
  font-weight: bold;
  border-bottom: 3px solid var(--red);
}

.admin_container .content {
  display: none;
}

.admin_container .content.active {
  display: block;
}
