.home {
  background: rgb(234, 237, 237);
}

.home_container {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-auto-columns: 100%;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
  grid-template-areas:
    'slider'
    'product_tile_group_1'
    'carousel_1'
    'carousel_2'
    'product_tile_group_2';
}

/* Slider */
.home_slider {
  grid-area: 'slider';
  height: 600px;
  z-index: 1;
  overflow: hidden;
  margin: 0 -45px -330px -45px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.product_tile_group_1 {
  grid-area: 'product_tile_group_1';
  grid-template-areas:
    'tiles_row_1'
    'tiles_row_2';
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
}
.product_tile_group_2 {
  grid-area: 'product_tile_group_2';
  grid-template-areas: 'tile_11 tile_12 tile_13 tile_14 tile_15';
  grid-template-rows: 400px;
}

.product_tile_group_1,
.product_tile_group_2 {
  z-index: 2;
  display: grid;
  align-items: center;
  grid-auto-columns: repeat(5, 1fr);
}

.product_tile_group_1_row_1 {
  grid-area: 'tiles_row_1';
  display: grid;
  gap: 20px;
  grid-template-areas: 'tile_1 tile_2 tile_3 tile_4 tile_5';
}

.product_tile_group_1_row_2 {
  grid-area: 'tiles_row_2';
  display: grid;
  gap: 20px;
  grid-template-areas: 'tile_6 tile_7 tile_8 tile_9 tile_10';
}

.tile_1 {
  grid-area: 'tile_1';
}
.tile_2 {
  grid-area: 'tile_2';
}
.tile_3 {
  grid-area: 'tile_3';
}
.tile_4 {
  grid-area: 'tile_4';
}
.tile_5 {
  grid-area: 'tile_5';
}
.tile_6 {
  grid-area: 'tile_6';
}
.tile_7 {
  grid-area: 'tile_7';
}
.tile_8 {
  grid-area: 'tile_8';
}
.tile_9 {
  grid-area: 'tile_9';
}
.tile_10 {
  grid-area: 'tile_10';
}
.tile_11 {
  grid-area: 'tile_11';
}
.tile_12 {
  grid-area: 'tile_12';
}
.tile_13 {
  grid-area: 'tile_13';
}
.tile_14 {
  grid-area: 'tile_14';
}
.tile_15 {
  grid-area: 'tile_15';
}

div[class^='tile_'] {
  height: 405px;
}

/* Carousels */
.carousel_1 {
  grid-area: 'carousel_1';
  height: 350px;
}

.carousel_2 {
  grid-area: 'carousel_2';
  height: 300px;
}

/* Media queries */
@media (min-width: 1201px) and (max-width: 1500px) {
  .product_tile_group_1 {
    grid-auto-columns: repeat(4, 1fr);
    grid-template-areas:
      'tile_1 tile_2 tile_3 tile_4'
      'tile_5 tile_6 tile_7 tile_8';
  }
  .product_tile_group_2 {
    grid-auto-columns: repeat(4, 1fr);
    grid-template-areas: 'tile_11 tile_12 tile_13 tile_14';
  }
  .tile_9,
  .tile_10,
  .tile_15 {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .product_tile_group_1 {
    grid-template-rows: repeat(3, 420px);
    grid-auto-columns: repeat(3, 1fr);
    grid-template-areas:
      'tile_1 tile_2 tile_3'
      'tile_4 tile_5 tile_6'
      'tile_7 tile_8 tile_9';
  }
  .product_tile_group_2 {
    grid-auto-columns: repeat(3, 1fr);
    grid-template-areas: 'tile_11 tile_12 tile_13';
  }
  .tile_10,
  .tile_14,
  .tile_15 {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .product_tile_group_1 {
    grid-template-rows: repeat(4, 420px);
    grid-auto-columns: repeat(2, 1fr);
    grid-template-areas:
      'tile_1 tile_2'
      'tile_3 tile_4'
      'tile_5 tile_6'
      'tile_7 tile_8';
  }
  .product_tile_group_2 {
    grid-template-rows: repeat(2, 420px);
    grid-auto-columns: repeat(2, 1fr);
    grid-template-areas:
      'tile_11 tile_12'
      'tile_13 tile_14';
  }
  .tile_9,
  .tile_10,
  .tile_15 {
    display: none;
  }
}

@media (max-width: 768px) {
  .product_tile_group_1 {
    grid-template-rows: repeat(5, 420px);
    grid-auto-columns: 1fr;
    grid-template-areas:
      'tile_1'
      'tile_2'
      'tile_3'
      'tile_4'
      'tile_5';
  }
  .product_tile_group_2 {
    grid-template-rows: repeat(3, 420px);
    grid-auto-columns: 1fr;
    grid-template-areas:
      'tile_11'
      'tile_12'
      'tile_13';
  }
  .tile_6,
  .tile_7,
  .tile_8,
  .tile_9,
  .tile_10,
  .tile_14,
  .tile_15 {
    display: none;
  }
}
