.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  height: 100%;
}

.home_container {
  display: grid;
  grid-auto-columns: repeat(4, 1fr);
  grid-auto-rows: 50vh;
  gap: 10px;
  margin: 0 10px;
  grid-template-areas:
    'slider          slider          slider          slider'
    'category_card_1 category_card_2 category_card_3 category_card_4'
    'category_card_5 category_card_5 category_card_6 category_card_6'
    'carousel_1      carousel_1      carousel_1      carousel_1'
    'carousel_2      carousel_2      carousel_2      carousel_2'
    'category_card_7 category_card_8 category_card_8 category_card_9'
    'history         history         history         history        ';
}

/* Slider */
.home_slider {
  grid-area: slider;
  height: 600px;
  z-index: 1;
  margin-bottom: -190px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Carousels */
.carousel_1 {
  grid-area: carousel_1;
}

.carousel_2 {
  grid-area: carousel_2;
}

div[class^='carousel_'] {
  overflow: hidden;
  grid-auto-rows: max-content;
}

/* Category cards */
.category_card_1 {
  grid-area: category_card_1;
}
.category_card_2 {
  grid-area: category_card_2;
}
.category_card_3 {
  grid-area: category_card_3;
}
.category_card_4 {
  grid-area: category_card_4;
}
.category_card_5 {
  grid-area: category_card_5;
}
.category_card_6 {
  grid-area: category_card_6;
}
.category_card_7 {
  grid-area: category_card_7;
}
.category_card_8 {
  grid-area: category_card_8;
}
.category_card_9 {
  grid-area: category_card_9;
}

div[class^='category_card_'] {
  z-index: 100;
}
/* Media queries */
@media (max-width: 1100px) {
  .home_container {
    grid-template-areas:
      'slider          slider          slider          '
      'category_card_1 category_card_2 category_card_3 '
      'category_card_4 category_card_5 category_card_6 '
      'carousel_1      carousel_1      carousel_1      '
      'carousel_2      carousel_2      carousel_2      '
      'category_card_7 category_card_8 category_card_9 '
      'history         history         history         ';
  }
}

@media (max-width: 768px) {
  .home_container {
    grid-template-areas:
      'slider          slider'
      'category_card_1 category_card_2'
      'category_card_3 category_card_4'
      'category_card_5 category_card_6'
      'carousel_1      carousel_1'
      'carousel_2      carousel_2'
      'category_card_7 category_card_8'
      'category_card_9 category_card_9'
      'history         history';
  }
}

@media (max-width: 600px) {
  .home_container {
    max-width: 600px;
    grid-template-areas:
      'slider          '
      'category_card_1 '
      'category_card_2 '
      'category_card_3 '
      'category_card_4 '
      'carousel_1      '
      'category_card_5 '
      'category_card_6 '
      'carousel_2      '
      'history         ';
  }
  .category_card_7 {
    display: none;
  }
  .category_card_8 {
    display: none;
  }
  .category_card_9 {
    display: none;
  }
}
