.payment_screen {
  background-color: var(--gray_background);
  padding: 0 20px;

}

.payment_container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.payment_container .nav {
  padding: 0;
  color: var(--gray_dark);
  margin-bottom: 10px;
}

.payment_options_container {
  flex-direction: column;
  color: var(--gray_dark);
  outline: none;
  border-radius: var(--border_radius);
  padding: 40px 0;
  position: relative;
}

.payment_options_container h1{
  margin-bottom: 30px;
  padding-top: 0px;
}

.payment_options_container button{
  width: 230px;
  margin: 40px auto 0px auto;
  padding-top: 0px;
}