.product_list_container {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'sidebar header_controls'
    'sidebar product_list';
}

.product_list_container .sidebar_toggle_btn {
  position: absolute;
  display: none;
  top: 10px;
  left: 0px;
  font-size: 22px;
  color: var(--gray_dark);
}

.product_list_container .product_list {
  grid-area: product_list;
  background-color: var(--gray_background);
  min-height: 100vh;
  height: fit-content;
  position: sticky;
  top: 0;
}

.product_list_container .product_list .footer {
  height: 60px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.product_list_container .product_list > ul {
  grid-area: product_list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 20px;
  padding: 20px;
}

.product_list_container .product_list.horizontal > ul {
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
}

.product_list_container .product_card {
  width: 100%;
  height: 100%;
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
  padding: 10px 20px;
}

/* Horizontal view */
.product_list_container .product_list.horizontal .product_card.horizontal {
  width: 100%;
  grid-template-columns: 0.5fr 1fr;
  padding: 10px 10%;
  justify-content: flex-start;
  column-gap: 40px;
}

.product_list_container .product_list.horizontal .product_card.horizontal .title {
  font-size: 20px;
  text-align: left;
}

.product_list_container .product_list.horizontal .product_card.horizontal > a {
  justify-content: flex-end;
}

.product_list_container .product_list.horizontal .product_card.horizontal > a img {
  width: auto;
}

.product_list_container .product_list.horizontal .product_card.horizontal .popover,
.product_list_container .product_list.horizontal .product_card.horizontal .rating_review,
.product_list_container .product_list.horizontal .product_card.horizontal .price {
  justify-content: flex-start;
}

@media (max-width: 1500px) {
  .product_list_container .product_list > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px) {
  .product_list_container .product_list > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .product_list_container .product_list > ul {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Show sidebar, hide product list */
  .product_list_container {
    grid-template-columns: 50vw 50vw;
  }

  .product_list_container {
    grid-template-rows: 120px 1fr;
  }

  .product_list_container .header_controls {
    padding: 0 20px;
    gap: 10px;
  }

  .product_list_container.hidden_sidebar .header_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product_list_container.hidden_sidebar .header_controls .dropdown_group_container {
    gap: 10px;
  }
  .product_list_container.hidden_sidebar .header_controls .dropdown_group_container button {
    display: none;
  }
}

@media (max-width: 1000px) {
  .product_list_container .sidebar_toggle_btn {
    display: block;
  }
  .product_list_container {
    grid-template-columns: 100vw 0px;
  }

  .product_list_container .header_controls {
    display: none;
    padding: 0 20px;
    gap: 10px;
  }

  .product_list_container .accordion i {
    visibility: visible;
  }

  .product_list_container.hidden_sidebar {
    grid-template-columns: 0px 100vw;
    grid-template-rows: 120px 1fr;
  }

  .product_list_container.hidden_sidebar .accordion i {
    visibility: hidden;
  }

  .product_list_container.hidden_sidebar .header_controls .dropdown_group_container {
    gap: 10px;
  }
}
