.product_list_container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar product_list';
}

.product_list_container .sidebar{
  grid-area: ;
  background-color: var(--white);
  border-right: 1px solid var(--gray);
}

.product_list_container .product_list .filters{
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  margin: 0 20px;
}

.product_list_container .product_list .breadcrumbs{
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  margin: 0 20px;
}

.product_list_container .product_list ul{
  grid-area: product_list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 20px;
  padding: 20px;
}

.product_list_container .product_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .product_list_container .product_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .product_list_container .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .product_list_container .product_list {
    grid-template-columns: 1;
  }
}
