.product_details {
  display: grid;
  grid-template-columns: 1fr 1fr 270px;
  grid-template-rows: 80vh;
  grid-template-areas: 'images info action-box';
  grid-gap: 30px;
  margin: 20px;
  background: white;
  max-width: 100vw;
}

.product_details_left {
  grid-area: images;
}
/* .product_details_Left > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-width: 100%;
} */
.product_details_middle {
  grid-area: info;
  /* object-fit: contain; */
  background-repeat: no-repeat;
}

.product_details_middle > div {
  margin: 1vh;
}

.product_details_title {
  font-size: larger;
  font-weight: bold;
}
.product_details_right {
  grid-area: action-box;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;

  /* display: flex;
  flex-direction: column; */
  /* align-items: flex-start; */
  flex: 0.5 1 250px;
  height: fit-content;
  padding: 3vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 100%;
}

.product_details_right > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.product_details_right > ul > li {
  display: flex;
  padding: 1vh;
  margin: 0.5vh;
  justify-content: space-between;
}

.add_to_cart_btn {
  width: 100%;
  margin-top: 20px;
  font-size: larger;
  cursor: pointer;
  background: orange;
  border: 1px solid;
  border-radius: 5px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
