.product_details {
  display: grid;
  grid-template-columns: 90px 1fr 1fr 270px;
  grid-template-rows: 80vh;
  grid-template-areas: 'sidebar images info action-box';
  grid-gap: 30px;
  margin: 20px;
  background: white;
  max-height: 100vh;
}

.product_details ul {
  grid-area: sidebar;
  max-height: 100%;
  padding: 10px;
  overflow: auto;
}

/* https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
.product_details ul::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}

.product_details li {
  width: 50px;
  height: 40px;
  object-fit: contain;
  margin: 10px 0;
  border: 1px solid rgb(196, 196, 196);
}

.product_details li:hover {
  border-color: orange;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.product_details_left {
  grid-area: images;
}

.product_details_middle {
  grid-area: info;
  background-repeat: no-repeat;
}

.product_details_middle > div {
  margin: 1vh;
}

.product_details_title {
  font-size: larger;
  font-weight: bold;
}
.product_details_right {
  grid-area: action-box;
  margin-left: auto;
  margin-right: auto;
  flex: 0.5 1 250px;
  height: fit-content;
  padding: 3vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 100%;
}

.product_details_right > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.product_details_right > ul > li {
  display: flex;
  padding: 1vh;
  margin: 0.5vh;
  justify-content: space-between;
}

.add_to_cart_btn {
  width: 100%;
  margin-top: 20px;
  font-size: larger;
  cursor: pointer;
  background: orange;
  border: 1px solid;
  border-radius: 5px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
