.product_screen_container {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-auto-columns: 100%;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
  grid-template-areas:
    'product_details'
    'product_features'
    'product_specifications'
    'product_comparison_table'
    'product_reviews'
    'product_questions_and_answers'
    'product_similar_carousel';
}

.product_screen_container section {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.product_screen_container section:last-child {
  border-bottom: none;
}

/* Product Details */
.product_details {
  grid-area: product_details;
  display: grid;
  grid-template-columns: 90px 1fr 1fr 270px;
  grid-template-rows: minmax(80vh, 1fr);
  grid-template-areas: 'image_sidebar image info action-box';
  grid-gap: 40px;
  background: white;
  padding: 30px;
}

.product_image_sidebar {
  grid-area: image_sidebar;
}

.product_image_sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  position: sticky;
  top: 0;
}

/* https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
.product_image_sidebar ul::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}

.product_image_sidebar li {
  width: 50px;
  height: 40px;
  object-fit: contain;
  margin: 10px 0;
  border: 1px solid rgb(196, 196, 196);
}

.product_image_sidebar li:hover {
  border-color: orange;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.product_details_image {
  grid-area: image;
}

.product_details_info {
  grid-area: info;
  background-repeat: no-repeat;
}

.product_details_info > span,
.product_details_info > div {
  margin: 10px 0;
}

.product_details_title {
  font-size: larger;
  font-weight: bold;
}

.product_details_brand,
.product_details_rating,
.product_details_questions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product_details_brand > span,
.product_details_rating > div {
  margin-right: 5px;
}

.product_details_action_box {
  grid-area: action-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
  position: sticky;
  top: 0;
}

.product_details_action_box > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product_details_action_box > ul > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews_container {
  grid-area: product_reviews;
}

.questions_and_answers_container {
  grid-area: product_questions_and_answers;
  border-bottom: 0px solid transparent !important;
}

.comparison_table_container {
  grid-area: product_comparison_table;
}

.product_features {
  grid-area: product_features;
}
