.profile {
  height:fit-content;
  justify-content: space-between;
  margin-right: 20px;
}

.orders {
    margin-bottom: auto;
    flex-direction: column;
}

.profile table {
  width: 100%;
}

.profile  th{
  margin: auto;
}
.profile  td{

}


.profile  tr:nth-child(even) {
  background-color: #D6EEEE;
}

.profile  tr:hover {background-color: lightblue;}