.questions_and_answers_screen .questions_and_answers_screen {
  background-color: var(--gray_background);
}

.questions_and_answers_screen .questions_and_answers_container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'header_controls'
    'questions_list';
}

.questions_and_answers_screen .questions_list{}

