.reviews_screen_container {
  padding: 0 20px;
  background-color: var(--gray_background);
}

.reviews_screen_container .reviews .reviews_sidebar {
  padding-top: 10px;
  background-color: var(--gray_background);
}

.reviews_screen_container .reviews_sidebar .rating_widget {
  background-color: var(--white);
  border-radius: 5px;
}

/* Masonry layout */
.reviews_screen_container .reviews_list .reviews_list_wrapper {
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
}

.reviews_screen_container .reviews_list .reviews_list_wrapper li {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.reviews_screen_container .reviews .create_form {
  height: fit-content;
  padding: 0 20px;
}

.reviews_screen_container .reviews .reviews_list > .footer {
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .reviews_screen_container .reviews_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .reviews_screen_container .reviews_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .reviews_screen_container .reviews_list {
    grid-template-columns: 1;
  }
}
