.reviews_screen_container {
  padding: 0 20px;
  background-color: var(--gray_background);
}

.reviews_screen_container .reviews .reviews_sidebar {
  padding-top: 10px;
  background-color: var(--gray_background);
}

.reviews_screen_container .reviews_sidebar .rating_widget {
  background-color: var(--white);
  border-radius: 5px;
}

/* Masonry layout */
.reviews_screen_container .reviews_list .reviews_list_wrapper {
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
}

.reviews_screen_container .reviews_list .reviews_list_wrapper li {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.reviews_screen_container .reviews .create_form {
  height: fit-content;
  padding: 0 20px;
}

.reviews_screen_container .reviews .reviews_list > .footer {
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .reviews_screen_container .reviews_list .reviews_list_wrapper {
    column-count: 2;
  }

  .reviews_screen_container .reviews {
    grid-template-rows: 280px 1fr;
    gap: 0;
  }
  .reviews .reviews_sidebar .sidebar_wrapper {
    flex-direction: column;
  }

  .reviews_screen_container .header_controls {
    flex-direction: column;
    gap: 20px;
  }
  .reviews .reviews_sidebar .sidebar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .reviews_screen_container .reviews_list .reviews_list_wrapper {
    column-count: 1;
  }
}

@media (max-width: 1000px) {
  .reviews_screen_container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .reviews_screen_container .header_controls .dropdown_group_container {
    flex-direction: column;
    gap: 10px;
  }
}
