.shipping_screen {
  background-color: var(--gray_background);
  padding: 0 20px;
}

.shipping_container {
  width: 100%;
  max-width: 1280px;
  margin: 10px auto;
}

.shipping_container .nav {
  padding: 0;
  color: var(--gray_dark);
  margin-bottom: 10px;
}

.address_container {
  color: var(--gray_dark);
  outline: none;
  border-radius: var(--border_radius);
  padding: 40px 100px;
}

.address_container h1 {
  margin-bottom: 30px;
  padding-top: 0px;
}

@media (max-width: 768px) {
  .address_container {
    padding: 40px 20px;
  }
}
